@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f7f7f8;
}

nav {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    height: 3.1rem;
}

.nav-izquierda img{
    width: 1.8rem;
    margin-left: .5rem;
}

.nav-izquierda a {
    text-decoration: none;
    color: #000;
    font-family: 'Roboto', sans-serif;
    margin-left: 1rem;
    
}

.nav-izquierda i {
    margin-left: 0.5rem;
    width: 3rem;
}

.nav-derecha img{
    width: 1.8rem;
    margin-left: .5rem;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}
